/* Body style */

body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
}
/* h1 & span style */

h1{
    font-size: 50px;
}
.span-orange-color {
    color: orange;
}
/* header section style */
section{
    display: flex;
    margin-bottom: -10px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
    height: 70%;
}
.anchor-button{
    
    text-decoration: none;
    background-color: rgb(236, 100, 9);
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: 600;
}
.top-banner{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}