/* Body style */

body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
}
/* h1 & span style */

h1{
    font-size: 50px;
}
.span-orange-color {
    color: orange;
}
/* header section style */
.container{
    display: flex;
    padding: 40px;
    
}
.half-width{
    width: 50%;
    padding: 20px;
    
}
.half-width img{
    width: 80%;
    height: 70%;
}
.anchor-button{
    
    text-decoration: none;
    background-color: rgb(236, 100, 9);
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: 600;
}
.top-banner{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.shadow{
        width: 50%;
        margin-left: 10px;
        margin-right: 15px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
        box-shadow: 10px 10px 40px gray;
}
#linear1{
    border-left: 5px solid;
    border-image: linear-gradient(blue, gray);
    border-image-slice: 1;
}
#linear2{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(0, 255, 98), gray);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
